[user]
  name = Jan Larwig
  email = jan@larwig.com
  signingkey = C2172BFA220A037A
[pull]
  rebase = true
[fetch]
  prune = true
[diff]
  colorMoved = zebra
[commit]
  gpgsign = true
[init]
  defaultBranch = main
[url "ssh://git@github.com/ionos-cloud"]
  insteadOf = https://github.com/ionos-cloud
[includeIf "hasconfig:remote.*.url:git@github.com:ionos-cloud/**"]
  path = ~/.gitconfig-work
