[user]
  name = Jan Larwig
  email = jan@larwig.com
  signingkey = C2172BFA220A037A
[pull]
  rebase = true
[fetch]
  prune = true
[diff]
  colorMoved = zebra
[commit]
  gpgsign = true
[tag]
  gpgsign = true
[init]
  defaultBranch = main
[alias]
  cs = commit --signoff --gpg-sign
[url "ssh://git@github.com/ionos-cloud"]
  insteadOf = https://github.com/ionos-cloud
[core]
  sshCommand = ssh -i ~/.ssh/id_ed25519
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
